In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("smartwatches.csv")
df.drop_duplicates(inplace = True)

In [3]:
df.head()

,Unnamed: 0,Brand,Current Price,Original Price,Discount Percentage,Rating,Number OF Ratings,Model Name,Dial Shape,Strap Color,Strap Material,Touchscreen,Battery Life (Days),Bluetooth,Display Size,Weight
0,0,noise,82990.0,89900.0,7.686318,4.0,65.0,Wrb-sw-colorfitpro4alpha-std-rgld_pnk,NaN,NaN,NaN,NaN,8.0,Yes,NaN,35 - 50 g
1,1,fire-boltt,3799.0,16999.0,77.651627,4.3,20788.0,BSW046,NaN,NaN,Silicon,Yes,3.5,Yes,1.8 inches,50 - 75 g
2,2,boat,1999.0,7990.0,74.981227,3.8,21724.0,Wave Call,NaN,NaN,Silicon,Yes,8.0,Yes,1.7 inches,35 - 50 g
3,3,fire-boltt,1799.0,19999.0,91.004550,4.3,13244.0,BSW053,NaN,NaN,Silicon,Yes,3.5,Yes,1.8 inches,75g +
4,4,noise,1599.0,4999.0,68.013603,4.1,13901.0,Wrb-sw-colorfitpulsegobuzz-std-blk_blk,NaN,NaN,Other,Yes,8.0,Yes,1.7 inches,35 - 50 g

In [4]:
df.isnull().sum()

Unnamed: 0               0
Brand                    0
Current Price           10
Original Price          73
Discount Percentage     73
Rating                   6
Number OF Ratings       59
Model Name              35
Dial Shape             123
Strap Color            123
Strap Material          69
Touchscreen             37
Battery Life (Days)     32
Bluetooth                6
Display Size            30
Weight                 186
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           450 non-null    int64
 1   Brand                450 non-null    object
 2   Current Price        440 non-null    float64
 3   Original Price       377 non-null    float64
 4   Discount Percentage  377 non-null    float64
 5   Rating               444 non-null    float64
 6   Number OF Ratings    391 non-null    float64
 7   Model Name           415 non-null    object
 8   Dial Shape           327 non-null    object
 9   Strap Color          327 non-null    object
 10  Strap Material       381 non-null    object
 11  Touchscreen          413 non-null    object
 12  Battery Life (Days)  418 non-null    float64
 13  Bluetooth            444 non-null    object
 14  Display Size         420 non-null    object
 15  Weight               264 non-null    object
dtypes: float64(6), int64(1), object(9)
memory usage: 56.4+ KB

In [6]:
df.shape

(450, 16)

In [7]:
df.drop('Unnamed: 0', axis = 1 , inplace=True)

In [8]:
train_df = df.sample(frac = 0.8,random_state = 42)

In [9]:
train_df = train_df.reset_index()

In [10]:
test_df = df.drop(train_df.index)

In [11]:
test_df = test_df.reset_index()

In [12]:
print(train_df.shape , test_df.shape)

(360, 16) (90, 16)

In [13]:
train_df.head()

,index,Brand,Current Price,Original Price,Discount Percentage,Rating,Number OF Ratings,Model Name,Dial Shape,Strap Color,Strap Material,Touchscreen,Battery Life (Days),Bluetooth,Display Size,Weight
0,407,zebronics,2949.0,4199.0,29.768993,3.1,10.0,LEATHER fit-650,Oval,Black,Leather,Yes,NaN,Yes,2.7 inches,NaN
1,444,fire-boltt,6999.0,15999.0,56.253516,2.6,NaN,bsw020,Circle,Brown,Silicon,Yes,8.0,Yes,1.4 inches,NaN
2,117,fire-boltt,2499.0,11999.0,79.173264,4.1,1990.0,BSW070,NaN,NaN,NaN,Yes,8.0,Yes,1.9 inches,75g +
3,30,boat,1999.0,7990.0,74.981227,3.6,827.0,NaN,NaN,NaN,NaN,NaN,8.0,Yes,NaN,75g +
4,415,fire-boltt,2299.0,5999.0,61.676946,2.5,24.0,NINJA PRO MAX,Square,Blue,Silicon,Yes,22.0,Yes,1.6 inches,NaN

In [14]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                360 non-null    int64
 1   Brand                360 non-null    object
 2   Current Price        354 non-null    float64
 3   Original Price       304 non-null    float64
 4   Discount Percentage  304 non-null    float64
 5   Rating               356 non-null    float64
 6   Number OF Ratings    315 non-null    float64
 7   Model Name           330 non-null    object
 8   Dial Shape           260 non-null    object
 9   Strap Color          260 non-null    object
 10  Strap Material       304 non-null    object
 11  Touchscreen          329 non-null    object
 12  Battery Life (Days)  330 non-null    float64
 13  Bluetooth            355 non-null    object
 14  Display Size         333 non-null    object
 15  Weight               211 non-null    object
dtypes: float64(6), int64(1), object(9)
memory usage: 45.1+ KB

In [15]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                90 non-null     int64
 1   Brand                90 non-null     object
 2   Current Price        90 non-null     float64
 3   Original Price       90 non-null     float64
 4   Discount Percentage  90 non-null     float64
 5   Rating               87 non-null     float64
 6   Number OF Ratings    55 non-null     float64
 7   Model Name           90 non-null     object
 8   Dial Shape           90 non-null     object
 9   Strap Color          90 non-null     object
 10  Strap Material       90 non-null     object
 11  Touchscreen          90 non-null     object
 12  Battery Life (Days)  87 non-null     float64
 13  Bluetooth            90 non-null     object
 14  Display Size         90 non-null     object
 15  Weight               21 non-null     object
dtypes: float64(6), int64(1), object(9)
memory usage: 11.4+ KB

# splitting numerical data and object type data

In [16]:
numerical_data = [feature for feature in train_df.columns if train_df[feature].dtype != object]

In [17]:
object_data = [feature for feature in train_df.columns if train_df[feature].dtype == object]

In [18]:
numerical_data

['index',
 'Current Price',
 'Original Price',
 'Discount Percentage',
 'Rating',
 'Number OF Ratings',
 'Battery Life (Days)']

In [19]:
object_data

['Brand',
 'Model Name',
 'Dial Shape',
 'Strap Color',
 'Strap Material',
 'Touchscreen',
 'Bluetooth',
 'Display Size',
 'Weight']

In [20]:
train_df[numerical_data].describe()

,index,Current Price,Original Price,Discount Percentage,Rating,Number OF Ratings,Battery Life (Days)
count,360.000000,354.000000,304.000000,304.000000,356.000000,315.000000,330.000000
mean,222.702778,12514.378531,14415.835526,47.955347,4.027528,10671.815873,14.181970
std,130.632905,16914.978666,15613.457236,24.696899,0.556828,27575.956948,7.661878
min,0.000000,1199.000000,1669.000000,-79.688436,1.000000,1.000000,0.750000
25%,111.750000,2126.000000,5999.000000,33.177427,3.900000,55.000000,8.000000
50%,222.500000,3999.000000,7994.500000,53.068408,4.100000,830.000000,17.500000
75%,336.250000,17367.250000,17996.000000,66.677780,4.300000,7576.500000,22.000000
max,448.000000,98990.000000,96390.000000,91.004550,5.000000,275607.000000,22.000000

In [21]:
train_df[numerical_data].corr()

,index,Current Price,Original Price,Discount Percentage,Rating,Number OF Ratings,Battery Life (Days)
index,1.000000,-0.100146,-0.084262,-0.123792,-0.247504,-0.187509,0.371223
Current Price,-0.100146,1.000000,0.971497,-0.602668,0.397179,-0.195773,0.030352
Original Price,-0.084262,0.971497,1.000000,-0.479494,0.325818,-0.180650,-0.132527
Discount Percentage,-0.123792,-0.602668,-0.479494,1.000000,-0.191073,0.235221,-0.011792
Rating,-0.247504,0.397179,0.325818,-0.191073,1.000000,0.085250,-0.102289
Number OF Ratings,-0.187509,-0.195773,-0.180650,0.235221,0.085250,1.000000,0.009617
Battery Life (Days),0.371223,0.030352,-0.132527,-0.011792,-0.102289,0.009617,1.000000

In [22]:
train_df[numerical_data].skew()

index                  0.012368
Current Price          2.301689
Original Price         2.734265
Discount Percentage   -0.983632
Rating                -1.589043
Number OF Ratings      5.467630
Battery Life (Days)   -0.190298
dtype: float64

In [24]:
train_df.drop("index",axis = 1, inplace = True)

In [25]:
train_df.head()

,Brand,Current Price,Original Price,Discount Percentage,Rating,Number OF Ratings,Model Name,Dial Shape,Strap Color,Strap Material,Touchscreen,Battery Life (Days),Bluetooth,Display Size,Weight
0,zebronics,2949.0,4199.0,29.768993,3.1,10.0,LEATHER fit-650,Oval,Black,Leather,Yes,NaN,Yes,2.7 inches,NaN
1,fire-boltt,6999.0,15999.0,56.253516,2.6,NaN,bsw020,Circle,Brown,Silicon,Yes,8.0,Yes,1.4 inches,NaN
2,fire-boltt,2499.0,11999.0,79.173264,4.1,1990.0,BSW070,NaN,NaN,NaN,Yes,8.0,Yes,1.9 inches,75g +
3,boat,1999.0,7990.0,74.981227,3.6,827.0,NaN,NaN,NaN,NaN,NaN,8.0,Yes,NaN,75g +
4,fire-boltt,2299.0,5999.0,61.676946,2.5,24.0,NINJA PRO MAX,Square,Blue,Silicon,Yes,22.0,Yes,1.6 inches,NaN